/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the theme styles for only specified components.
@include mat-core-theme($candy-app-theme);
@include mat-button-theme($candy-app-theme);
@include mat-checkbox-theme($candy-app-theme);


html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
}

.horizontal {
  display: flex;
}

.flex {
  flex-grow: 1;
}
