<div class="content">
  <div class="container">
    <div>
      <div>
        <md-slider
          max="12"
          step="1"
          thumb-label="true"
          tick-interval="1"
          vertical>
        </md-slider>
        <div>
          <label>Master</label>
        </div>
      </div>
    </div>
    <div>
      <div>
        <md-slider
          max="12"
          step="1"
          thumb-label="true"
          tick-interval="1"
          vertical>
        </md-slider>
        <div>
          <label>Mic 1</label>
        </div>
      </div>
    </div>
    <div>
      <div>
        <md-slider
          max="12"
          step="1"
          thumb-label="true"
          tick-interval="1"
          vertical>
        </md-slider>
        <div>
          <label>Mic 2</label>
        </div>
      </div>
    </div>
  </div>
</div>
